/* Default Variables */
$header-font: 'Montserrat', sans-serif;
$body-font:  'Montserrat', sans-serif;
$button-font:  'Montserrat', sans-serif;

/* Form and Button Styling */
$button-radius: 47px;
$form-radius: 47px;
$line-height-desktop: 54px;
$line-height-mobile: 40px;

$base-fontsize: 18px;
$base-lineheight: 1.45em;

$max-width: 1280px;


$transition: .25s;

/* Colors */
$default: #333;
$light-grey: #555;
$btn-color: $default;
$facebook-blue: #3b5998;
$twitter-blue: #00ACEE;
$highlight: #BB895B;
$green: #3D4F49;
$blue: $green;
$body-background: $green;