<footer>
    <div class="container text-center">
        <div id="footerLogo">
            <a href='{{ "/" | relURL }}'><img src='{{ "img/logo_footer.svg" | relURL }}'
                    alt="{{ .Site.Title }} Logo"></a>
        </div>
        <div id="footerHerzog">
            <div class="herzogLogo">
                <span>A Product of</span>
                <img src='{{ "img/logo_herzog.svg" | relURL }}'>
            </div>
        </div>
        <div id="footerNav">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.footer }}
                <li class='menu-item{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }} current-menu-item{{end}}'> <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a> </li>
                {{ end }} 
            </ul>
        </div>
        <div id="footerBtn">
            <a href="#" class="button btn-outline-white"><i class="far fa-user-circle"></i> Account Login</a>
        </div>
        <div id="copyright" >Copyright
            <script type="text/javascript">document.write(new Date().getFullYear());</script> - {{
            .Site.Title }} - All Rights Reserved
        </div>


    </div>
</footer>