{{ partial "head.html" . }}
<body id="home">
    {{ partial "header.html" . }}
    <section id="banner">
        {{if .Params.banner_image}} 
        <div class="banner-image bg-image"><img class="lazyload" src="{{.Params.banner_image}}" alt="{{ .Site.Params.Title }} {{ .Title }} Banner Background Image" /></div>
        {{end}}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-12 col-md-10 col-lg-8 text-center animated fadeIn delay-1">
                    <!-- <h3>Coming Soon 2022</h3> -->
                    <h1>{{ .Params.banner_title | safeHTML }}</h1>
                    <div class="bannerTxt">{{ .Description }}</div>
                    {{ partial "cta-boxes.html" . }}
                    <div class="bannerLinks">
                        <!-- <a href="#" class="button">Explore the Curriculum ›</a> -->
                        <a href="#" class="bannerLink">or Check Your Eligibility ›</a>
                    </div>
        
                </div>
            </div>

        </div>
    </section>
    <main role="main" class="main-sections">
        {{ partial "page-sections.html" .}}
    </main>
    
{{/*  <section id="ready">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-12 col-md-11 col-lg-9" data-aos="fade-down">
                <h3 class="titleReady text-center text-highlight">Ready to Start Your Journey?</h3>
                <p class="font23">Why wait?! There’s no time like the present to be a beacon of hope and truth in your community. Let’s start a movement to revitalize Christian education in our nation!</p>
                <a href="#" class="button">Create an Account ›</a>
            </div>
        </div>
    </div>
</section>  */}}

<div id="coming-soon" class="mfp-hide">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Coming Soon 2022</h2>
            <p>Fill out the form below and we'll be in touch when we launch soon!</p>
        </div>
    </div>
    {{ partial "updates.html" . }}
</div>
    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

    <!--<script>-->
    <!--    if (window.netlifyIdentity) {-->
    <!--        window.netlifyIdentity.on("init", user => {-->
    <!--            if (!user) {-->
    <!--                window.netlifyIdentity.on("login", () => {-->
    <!--                    document.location.href = "/admin/";-->
    <!--                });-->
    <!--            }-->
    <!--        });-->
    <!--    }-->
    <!--</script>-->

</body>

</html>